
@font-face {
  font-family: "i5ba1f1dbe18a457a813734253a5ae0ab";
  src: url("data:font/woff2;base64,d09GMgABAAAAAALAAAsAAAAAB1wAAAJ0AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAqBBIEVATYCJAMICwYABCAFhkIHLhugBhEVjE2yHwdu7DQHRetPzcgSJf1z8Py7ln9fJkuZLRM4JNX61hKr+n88s2cjUQ8y4VYB+cH9qy5DnSYPU/L300735253ggO/UXArdeKa+kmYABa9Cuqkbk/AiRXleeT5BHc+GtBuBFOQ3RGoJZ+DAIZijVR72z9O4CbubBNL40wL5JmyOa7M4ZV9aDRNeRHcLftycoYLKFcKTDwnlUUoFC7S3MkZvo5Fml/cKrqBm54t1wG4AAvIB3Eg4622QRaN5bMwRkyTimNlCvwWxwmtyFFNiPTXOel+AOIp90y8LzxqugJAp7OFoGTSI0CFxU0dhNdH3hxc7UVkXB9GNd3u39yMs3dt24e3IvuNHjBSoCWDMfSQ/i4VMvUlWIfpYD865BBLUgb8lSpVVftArKxDX0RhflYi51MHzZzAmB77esunJ/fjZoLq/3ttugG/7n5NxxzmAO/u7QJIFaNwHGP/SXR4ph3FHIrCWkQBxnWBwxzBPk6dFFLuyeEhJVesVJtNQc0fOR1c2KxTzE2KXcyQ52a/TZg3WIj2IbT6SjBFoERiFq1JBzW6jLmIzD3F3Ya+xAziyfrubDL7P8aEttgukb1iiBe8Wn/xwUWPEclgelL/WbAi7XW+2j/VY+QNrDLYMx60UUWhDtIPjm/vRAqUyiu0vAktC8NeeaIsahDZ71oX/jCVeW1GUYKswuokxLpCQXSBruR37V14gRN5KELEQMkT6X0sUF2qy5M/63+kOozYBliKWRJ8qLdlqUiQ7vTkBxy+eo4QBSgqtgLt9iyoLK7ChnpvXzUhmVCGCZHdneaDCmpT8iJDnHAMFV44ei3z1jQ=") format("woff2")
}

i[class^="i5ba1f1dbe18a457a813734253a5ae0ab-"]:before, i[class*=" i5ba1f1dbe18a457a813734253a5ae0ab-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i5ba1f1dbe18a457a813734253a5ae0ab !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i5ba1f1dbe18a457a813734253a5ae0ab-icon:before {
  content: "\f101";
}
